body { 
	background: black;
	color: #dedede;
	margin:0;
	font-family: monospace;
	font-size: large
}

a {
    color: #dedede
}

ul {
	list-style-type: none;	
	padding-left: 0
}

nav ul li {
	line-height: 3em;	
}

nav ul:last-child {
	margin-bottom: -1em;
}

#content {
	margin-left: auto;
	margin-right: auto;
}


@media screen and (orientation: landscape) {
	#titlepage {
		width: 30em;
		background-color: white;	
		margin: auto;		
		margin-top: 7%;
	}
	
	#title {
		text-align: center;
		width: 20em;
		float: left;
	}

	#mainmenu {
		margin-top: 3em;
		text-align: center;
		float: left;		
	}
}

@media screen and (orientation: portrait) {
	#titlepage {
		text-align: center;
	}	
}

#credits {
	margin: auto;
}

td {
	vertical-align: top;
	padding-bottom: 1em;		
}

td:first-child   {
	text-align: right;
	padding-right: 1em;
}

td:last-child   {
	padding-left: 1em;
	text-align: left
}

#about {
	font-size: medium;
	text-align: center;
	margin: 1em;
}

#settings {
	text-align: center;
}

.phone-system-message {
	color: #333;
	text-align: center;
	position: relative;
	top: 40%;
}

.received-message {
    float: left;
    color: white;
    margin-left: 2em;
    margin-bottom: 1em;
    padding: 1em 2em;
    width: 60%;    
}

.sent-message {
    float: right;
    color: white;
    margin-right: 2em;
    margin-bottom: 1em;
    padding: 1em 2em;
    width: 60%;    
}

.panel {
	margin: 1em; padding: 1em
}

.border {
    border: 1px solid #dedede;
}

.panel h2 {
	margin: -1em;
	padding: 0.5em;
	background: #dedede;
	color: black;
	font-size: large
}

#player ul {
	margin-top: 2em;
	margin-bottom: 0;
}

@media screen and (orientation: landscape) and (min-height: 700px) {
	#phone-screen {
		width: 50%;
    	height: 45em;    
    	overflow: auto;
    	background: #dedede;
		float: left;
	}

	#controls {
		width: 50%;
		float: right
	}
}

@media screen and (orientation: landscape) and (max-height: 700px) {
	#phone-screen {
		width: 50%;
    	height: 20em;    
    	overflow: auto;
    	background: #dedede;
		float: left;
	}


	#controls {
		width: 50%;
		float: right
	}
}

@media screen and (orientation: portrait) {
	#phone-screen {
		width: 100%;
    	height: 20em;    
    	overflow: auto;
    	background: #dedede
	}
}

#help {
	padding: 1em;
}

#ok {
	margin-top: 2em;
	text-align: center;
}

.speech-bubble {
	position: relative;
	background: #23292a;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #23292a;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.speech-bubble-sent {
	position: relative;
	background: #2c96d8;
	border-radius: .4em;
}

.speech-bubble-sent:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #2c96d8;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

#version {
	font-size: small;
	text-align: right;
	margin-right:1em;
	color:gray
}

#character-icon {
	width: 128px;
	height: 128px;
	float: left;
}

#character-stats {
	float: left;
	font-size: 28px;
	transform: translateY(-25px)
}

.separator {
	clear: both;
}